{% extends 'layout.html' %}


{% block content %}






<div>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
        {% for creds in guestCreds %}
            {% if creds.guest | not_check_role_skip_payment_at_checkin %}
            <div class="col">
                <div class="card text-center bg-dark text-light">
                    <div class="card-body">
                        <h1 class="card-title">{{ creds.generalAmount }}</h1>
                        <p class="card-text">{{ creds.guest.fetUsername }}</p>
                        <a href="/guestCredit/{{creds.guest.id}}" class="m-2 p-3"><i class="bi bi-plus-square"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>




    <!-- 
    <table class="table-dark rounded-3 overflow-hidden " data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th data-sortable="true" scope="col">Timestamp</th>
                <th data-sortable="true" scope="col">Guest</th>
                <th data-sortable="true" scope="col">Description</th>
                <th data-sortable="true" scope="col">Source</th>
                <th data-sortable="true" scope="col">Auth By</th>
                <th data-sortable="true" scope="col">Amount</th>
                <th data-sortable="true" scope="col">Desc.</th>
            </tr>
        </thead>
        <tbody>
            {% for logItem in guestCreditLog %}
            <tr>
                <td scope="row">{{ logItem.timestamp }}</td>
                <td scope="row">{{ guests[logItem.guest].fetUsername }}</td>
                <td scope="row">{{ guests[logItem.guest].description }}</td>
                <td scope="row">{{ logItem.authorizedSource }}</td>
                <td scope="row">{{ guests[logItem.authorizedBy].role }}</td>
                <td scope="row">{{ logItem.generalAmountChange }}</td>
                <td scope="row">{{ logItem.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</div>
{% endblock content %}