{% extends 'layout.html' %}



{% block content %}




<div class="row  row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-bg-primary ">
            <div class="card-body">
                <h1 id="guest-list-count" class="card-title text-center">{{guests_checked_in|length}}</h1>
                <p class="card-text text-center">Guests Currently Checked In</p>
                <div class="accordion accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Guests Checked In
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul id="guest-list">
                                    <!-- {% for guest in guests_checked_in %}
                                    <li>
                                        {% if guest.fetUsername %}
                                        @{{guest.fetUsername |e}}
                                        {% else %}
                                        {{guest.name |e}}
                                        {% endif %}
                                    </li>
                                    {% endfor %} -->
                                    {% for guest in guests_checked_in %}
                                    <li class="list-group-item m-2">
                                        {% if guest.barStatus %}
                                        {% if guest.barStatus == 0 %}
                                        <select class=" selectpicker" data-width="fit" data-style="btn-success"
                                            id="userStateSelect-{{guest.id}}">
                                            <option selected class="text-bg-success text-dark"
                                                data-icon="bi-person-fill-check"></option>
                                            <option class="text-bg-warning" data-icon="bi-person-fill-exclamation">
                                            </option>
                                            <option class="text-bg-danger text-dark" data-icon="bi-person-fill-x">
                                            </option>
                                        </select>
                                        {% elif guest.barStatus == 1 %}
                                        <select class=" selectpicker" data-width="fit" data-style="btn-warning"
                                            id="userStateSelect-{{guest.id}}">
                                            <option class="text-bg-success text-dark" data-icon="bi-person-fill-check">
                                            </option>
                                            <option selected class="text-bg-warning"
                                                data-icon="bi-person-fill-exclamation"></option>
                                            <option class="text-bg-danger text-dark" data-icon="bi-person-fill-x">
                                            </option>
                                        </select>
                                        {% elif guest.barStatus == 2 %}
                                        <select class=" selectpicker" data-width="fit" data-style="btn-danger"
                                            id="userStateSelect-{{guest.id}}">
                                            <option class="text-bg-success text-dark" data-icon="bi-person-fill-check">
                                            </option>
                                            <option class="text-bg-warning" data-icon="bi-person-fill-exclamation">
                                            </option>
                                            <option selected class="text-bg-danger text-dark"
                                                data-icon="bi-person-fill-x"></option>
                                        </select>
                                        {% endif %}
                                        {% else %}
                                        <select class=" selectpicker" data-width="fit" data-style="btn-success"
                                            id="userStateSelect-{{guest.id}}">
                                            <option selected class="text-bg-success text-dark"
                                                data-icon="bi-person-fill-check"></option>
                                            <option class="text-bg-warning" data-icon="bi-person-fill-exclamation">
                                            </option>
                                            <option class="text-bg-danger text-dark" data-icon="bi-person-fill-x">
                                            </option>
                                        </select>
                                        {% endif %}
                                        {% if guest.fetUsername %}
                                        {{guest.fetUsername |e}}
                                        {% else %}
                                        {{guest.name |e}}
                                        {% endif %}
                                    </li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if todaysEvents|length > 0 %}
    <div class="col">
        <div class="card text-bg-primary ">
            <div class="card-body">
                <h1 class="card-title text-center">Todays Event:</h1>
                <p class="card-text text-center"> {% if todaysEvents[0].title %}{{todaysEvents[0].title}}{% else %}No
                    Event Title{% endif %}</p>
            </div>
        </div>




    </div>
    {% endif %}

    <!-- <div class="col">
            <div class="card text-bg-danger  ">
                <div class="card-body">
                    <h1 class="card-title text-center">
                        {{guests_top_5}}

                        {% for guest, logs in guests_top_5 %}                                    
                            {% if guest.fetUsername  %}
                                @({{guest.fetUsername |e}}) {{guest.firstName |e}} {{guest.lastName |e}}    {{logs}}   
                            {% else %}
                                {{guest.firstName |e}} {{guest.lastName |e}}   {{logs}} 
                            {% endif %}                                                                     
                        {% endfor %}
                    </h1>
                    <p class="card-text text-center">Top 5 Guests</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-bg-success  ">
                <div class="card-body">
                    <h1 class="card-title text-center">10</h1>
                    <p class="card-text text-center">Guests Currently Checked In</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card text-bg-warning  ">
                <div class="card-body">
                    <h1 class="card-title text-center">10</h1>
                    <p class="card-text text-center">Guests Currently Checked In</p>
                </div>
            </div>
        </div>
    -->











    <!-- TOAST ALERTS -->
    <!-- 
    <div class="toast-container position-static" id="toast-container">
    </div> -->

</div>


<div class="toast-container position-absolute top-0 end-0 p-3" id="toast-container">
</div>

{% endblock content %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script>

    var myCollapse = document.getElementById('flush-collapseOne')
    var bsCollapse = new bootstrap.Collapse(myCollapse, {})

    var socket = io();
    socket.on('connect', function () {
        console.log('Connected!');
        socket.emit('my event', { data: 'I\'m connected!' });
    });
    socket.on('disconnect', function () {
        console.log('Disconnected!');
    });


    

    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        // do something...
        //console.log(clickedIndex, isSelected, previousValue);
        //$(e.target).selectpicker('setStyle', 'btn-danger');
        switch (clickedIndex) {
            case 0:
                $(e.target).selectpicker('setStyle', 'btn-warning', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-danger', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-success', 'add');
                break;
            case 1:
                $(e.target).selectpicker('setStyle', 'btn-success', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-danger', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-warning', 'add');
                break;
            case 2:
                $(e.target).selectpicker('setStyle', 'btn-success', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-warning', 'remove');
                $(e.target).selectpicker('setStyle', 'btn-danger', 'add');
                break;
        }


        fetch('{{ url_for("setGuestBarState" ) }}' + encodeURI(e.target.id.split('-')[1] + '/' + clickedIndex), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                state: clickedIndex
            }),
        })
            .then(response => response.json())
            .then(data => {
                //console.log('Success:', data);
            })
            .catch((error) => {
                //console.error('Error:', error);
            });
    });






    socket.on("user barstatus changed", (arg, callback) => {
        console.log(" user barstatus changed", arg);
    });


    socket.on("user checked in", (arg, callback) => {
        console.log(arg);
        //callback("got it");
        const toastContainer = document.createElement('div');
        toastContainer.classList.add('toast');
        toastContainer.setAttribute('data-bs-autohide', 'true');

        const toastHeader = document.createElement('div');
        toastHeader.classList.add('toast-header');

        const toastHeaderText = document.createElement('strong');
        toastHeaderText.classList.add('me-auto');
        toastHeaderText.innerText = "Guest Checked In";

        toastHeader.appendChild(toastHeaderText);

        const toastCloseButton = document.createElement('button');
        toastCloseButton.type = 'button';
        toastCloseButton.classList.add('btn-close');
        toastCloseButton.setAttribute('data-bs-dismiss', 'toast');
        toastCloseButton.setAttribute('aria-label', 'Close');

        toastHeader.appendChild(toastCloseButton);

        const toastBody = document.createElement('div');
        toastBody.classList.add('toast-body');
        toastBody.innerText = arg.guest;

        toastContainer.appendChild(toastHeader);
        toastContainer.appendChild(toastBody);

        guestList = document.getElementById('guest-list')

        console.log(guestList);

        liElement = document.createElement('li')
        if (arg.guest) {
            liElement.innerText = '@' + arg.guest;
        } else {
            liElement.innerText = arg.name;
        }
        guestList.appendChild(liElement);

        document.getElementById('guest-list-count').innerText = guestList.children.length;

        //document.getElementById('flush-collapseOne').classList.add('show');

        bsCollapse.show();




        document.getElementById('toast-container').appendChild(toastContainer);


        new bootstrap.Toast(toastContainer, { autohide: true, delay: 5000 }).show();






    });

    socket.on("user checked out", (arg, callback) => {
        console.log(arg);
        //callback("got it");
        const toastContainer = document.createElement('div');
        toastContainer.classList.add('toast');
        toastContainer.setAttribute('data-bs-autohide', 'true');

        const toastHeader = document.createElement('div');
        toastHeader.classList.add('toast-header');

        const toastHeaderText = document.createElement('strong');
        toastHeaderText.classList.add('me-auto');
        toastHeaderText.innerText = "Guest Checked Out";

        toastHeader.appendChild(toastHeaderText);

        const toastCloseButton = document.createElement('button');
        toastCloseButton.type = 'button';
        toastCloseButton.classList.add('btn-close');
        toastCloseButton.setAttribute('data-bs-dismiss', 'toast');
        toastCloseButton.setAttribute('aria-label', 'Close');

        toastHeader.appendChild(toastCloseButton);

        const toastBody = document.createElement('div');
        toastBody.classList.add('toast-body');
        toastBody.innerText = arg.guest;

        toastContainer.appendChild(toastHeader);
        toastContainer.appendChild(toastBody);

        // guestList = document.getElementById('guest-list')

        // console.log(guestList);

        // liElement = document.createElement('li')
        // if(arg.guest) {
        //     liElement.innerText = '@' + arg.guest;
        // } else {
        //     liElement.innerText = arg.name;
        // }
        // guestList.appendChild(liElement);

        // document.getElementById('guest-list-count').innerText = guestList.children.length;





        document.getElementById('toast-container').appendChild(toastContainer);


        new bootstrap.Toast(toastContainer, { autohide: true, delay: 5000 }).show();






    });

    socket.on("user precheckin", (arg, callback) => {
        console.log(arg);
        var autohideToast = arg.checkin_blocked;


        //callback("got it");
        const toastContainer = document.createElement('div');
        toastContainer.classList.add('toast');

        toastContainer.setAttribute('data-bs-autohide', 'true');

        if (autohideToast) {
            toastContainer.classList.add('bg-danger');
            toastContainer.setAttribute('data-bs-autohide', 'false');
        }

        const toastHeader = document.createElement('div');
        toastHeader.classList.add('toast-header');

        const toastHeaderText = document.createElement('strong');
        toastHeaderText.classList.add('me-auto');
        toastHeaderText.innerText = "Guest Pre-Checkin Event";

        toastHeader.appendChild(toastHeaderText);

        const toastCloseButton = document.createElement('button');
        toastCloseButton.type = 'button';
        toastCloseButton.classList.add('btn-close');
        toastCloseButton.setAttribute('data-bs-dismiss', 'toast');
        toastCloseButton.setAttribute('aria-label', 'Close');

        toastHeader.appendChild(toastCloseButton);

        const toastBody = document.createElement('div');
        toastBody.classList.add('toast-body');
        toastBody.innerText = arg.error;
        if (arg.checkin_blocked) {
            toastBody.classList.add('text-black');
            toastBody.innerText = arg.name + " / " + arg.guest + " Checkin Blocked";
        } else {
            toastBody.classList.add('text-white');
            toastBody.innerText = arg.error;
        }

        toastContainer.appendChild(toastHeader);
        toastContainer.appendChild(toastBody);

        if (arg.error) {
            document.getElementById('toast-container').appendChild(toastContainer);
            new bootstrap.Toast(toastContainer, { autohide: !autohideToast, delay: 5000 }).show();
        }



    });

</script>
{% endblock script %}