{% extends 'layout.html' %}



{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

<script src="https://cdn.tiny.cloud/1/3dc4q2n6ghntddfk8nly11e5ukcmmfm2vukb9z5e6kh3s8ii/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>


<script>
    tinymce.init({
        selector: 'textarea#message',
    }); 
</script>



<h1>Notification and Email</h1>
<br>








<form class="row g-3" method="post">

    <h3>Guest Groups (Click to Select Groups of Guests)</h3>
    <div class="d-grid gap-2 d-md-block">
        {% for group in roles %}
        <button class="btn btn-primary m-1" type="button" onclick="btnClick(this)" value="{{group}}">{{ group.name
            }}</button>
        {% endfor %}
    </div>
    <h3>Guest Emails</h3>
    <select name="emails" class="form-select" multiple aria-label="Multiple select example">
        {% for guest in guests %}
        <option value="{{ guest.email }}" data-roles="{{guest.roles}}">{{ guest.email }}</option>
        {% endfor %}
    </select>

    <h3>Email Subject</h3>
    <div class="mb-3">
        <input type="text" class="form-control" id="subject" name="subject">
    </div>

    <h3>Email Body</h3>
    <div class="mb-3">
        <!-- <label for="tos" class="form-label">TOS</label> -->
        <textarea id="message" name="message"></textarea>
    </div>
    <div class="d-flex">
        <div class=" p-2">
            <button type="submit" class="btn btn-primary">Send Email</button>
            <button type="button" class="btn btn-primary" onclick="btnSaveTemplate(this)">Save As Template</button>
        </div>
    </div>
</form>


<script>
    function btnClick(btn) {
        var emails = document.getElementsByName("emails")[0];
        var group = btn.value;
        var options = emails.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            if (option.dataset.roles.includes(group)) {
                option.selected = true;
            }
        }
    }
    function btnClickAll(btn) {
        var emails = document.getElementsByName("emails")[0];
        var options = emails.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            option.selected = true;
        }
    }

    function btnClickNone(btn) {
        var emails = document.getElementsByName("emails")[0];
        var options = emails.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            option.selected = false;
        }
    }
    function btnSaveTemplate(btn) {
        console.log("Save Template");
        let name = prompt("Please Name the Email Template", "");

        if (name != null) {
            var subject = document.getElementById("subject").value;
            var message = tinymce.get("message").getContent();
            console.log("Subject: " + subject);
            console.log("Message: " + message);

            body = JSON.stringify({
                'emailSubject': subject,
                'emailMessage': message,
                'emailTemplateName': name
            })

            url = '{{ url_for("saveEmailTemplate" ) }}'

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: body
            })
                .then(response => response.json())
                .then(data => console.log(data));

        }
    }

</script>
{% endblock content %}