<!doctype html>
<html lang="en">
<!-- https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.4.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.4.0/event-calendar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {{ moment.include_moment() }}
    <script>

        window.vcEvents = {{ events | tojson }}
        for (let i = 0; i < window.vcEvents.length; i++) {
            
            window.vcEvents[i].start = moment(new Date(window.vcEvents[i].start * 1000)).format("YYYY-MM-DD HH:mm");
            window.vcEvents[i].end = moment(new Date(window.vcEvents[i].end * 1000)).format("YYYY-MM-DD HH:mm");
            window.vcEvents[i].extendedProps = {
                id: window.vcEvents[i].id,
                description: window.vcEvents[i].eventDescription,
                location: window.vcEvents[i].eventLocation,
                cost: window.vcEvents[i].eventCost,
                prepay: window.vcEvents[i].prepay,
                display: window.vcEvents[i].display,
                specialEvent: window.vcEvents[i].specialEvent
            }
            console.log(window.vcEvents[i]);
        }



    </script>
    
</head>

<body>



    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-speedometer2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/guests" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Guests</span>
                            </a>
                        </li>
                        <li>
                            <a href="/events" class="nav-link px-0 align-middle text-danger">
                                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Events</span></a>
                        </li>
                        <li>
                            <a href="/forms" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi bi-info-square"></i> <span
                                    class="ms-1 d-none d-sm-inline">Forms</span></a>
                        </li>
                    </ul>
                    <hr>

                </div>
            </div>
            <div class="col py-3">
                <div id="ec"></div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eventModalLabel">Event</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation" method="post" novalidate>


                        <div class="col-md-1 visually-hidden">
                            <label for="eventId" class="form-label">Event ID</label>
                            <input type="number" class="form-control" name="eventId" id="eventId" value="">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""  name="display" id="display" required>
                                <label class="form-check-label" for="display">
                                Display Event On Kiosk
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""  name="prepay" id="prepay" required>
                                <label class="form-check-label" for="prepay">
                                PrePay Event
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""  name="specialevent" id="specialevent" required>
                                <label class="form-check-label" for="specialevent">
                                Special Event
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="eventStart" class="form-label">Event Start</label>
                            <input type="text" class="form-control" name="eventStart" id="eventStart" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="eventEnd" class="form-label">Event End</label>
                            <input type="text" class="form-control" name="eventEnd" id="eventEnd" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="eventLocation" class="form-label">Event Location</label>

                            <input type="text" class="form-control" name="eventLocation" id="eventLocation" value="VC"
                                aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Please provide an event location.
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label for="eventName" class="form-label">Event Name</label>

                            <input type="text" class="form-control" name="eventName" id="eventName"
                                aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Please provide an event title.
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label for="eventDescription" class="form-label">Event Description</label>
                            <textarea class="form-control" name="eventDescription" id="eventDescription"
                                rows="3"></textarea>
                            <div class="invalid-feedback">
                                Please provide a description.
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="eventCost" class="form-label">Event Cost</label>
                            <input type="number" class="form-control" name="eventCost" id="eventCost"
                                aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Please provide an event title.
                            </div>
                        </div>
                        
                        <div class="col-12 m-2">
                            <button class="btn btn-primary" type="submit">Save Event</button>
                            <button class="btn btn-danger" type="button" id="delBtn">Delete Event</button>
                            <button type="button" class="btn btn-outline-danger visually-hidden" disabled><i
                                    class="bi bi-lock-fill"></i></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script>




        eventStartEl = document.getElementById("eventStart");
        eventEndEl = document.getElementById("eventEnd");
        eventStartFP = flatpickr(eventStartEl, { enableTime: true });
        eventEndFP = flatpickr(eventEndEl, { enableTime: true });
        delBtn = document.getElementById("delBtn");


        const myModalel = document.getElementById('eventModal')
        const myModal = new bootstrap.Modal(myModalel, {
            keyboard: true
        })
        delBtn.addEventListener('click', event => {
            console.log("Delete Event");
            console.log(document.getElementById("eventId").value);
            fetch('/events/' + document.getElementById("eventId").value, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'eventId': document.getElementById("eventId").value
                })
            }).then(response => {
                console.log(response);
                if (response.ok) {
                    myModal.hide();
                    location.reload();
                } else {
                    alert("Error Deleting Event");
                }
            })
        })


        myModalel.addEventListener('show.bs.modal', event => {
            console.log("Modal Show", event.relatedTarget.extendedProps);


            const mediumTime = new Intl.DateTimeFormat("en-US", {
                timeStyle: "medium",
                dateStyle: "short",
            });
            //console.log(mediumTime.format(new Date(Date.parse(event.relatedTarget.start))));
            //console.log(Date.parse(event.relatedTarget.start).toString());
            eventStartEl.value = mediumTime.format(new Date(Date.parse(event.relatedTarget.start)));
            eventEndEl.value = mediumTime.format(new Date(Date.parse(event.relatedTarget.end)));
            eventStartFP.setDate(new Date(Date.parse(event.relatedTarget.start)));
            eventEndFP.setDate(new Date(Date.parse(event.relatedTarget.end)));
            document.getElementById("specialevent").checked = event.relatedTarget.extendedProps.specialEvent;
            document.getElementById("display").checked = event.relatedTarget.extendedProps.display;
            document.getElementById("prepay").checked = event.relatedTarget.extendedProps.prepay;
            document.getElementById("eventId").value = event.relatedTarget.extendedProps.id;
            document.getElementById("eventName").value = event.relatedTarget.title;
            document.getElementById("eventDescription").value = event.relatedTarget.extendedProps.description;
            document.getElementById("eventLocation").value = event.relatedTarget.extendedProps.location;
            document.getElementById("eventCost").value = event.relatedTarget.extendedProps.cost;


        })

        myModalel.addEventListener('hidden.bs.modal', event => {
            //console.log("Modal Hidden");
            //console.log(event);
            //console.log(event.relatedTarget);
            //console.log(event.relatedTarget.start);
            //console.log(event.relatedTarget.end);
            //console.log(event.relatedTarget.title);
            //console.log(event.relatedTarget.id);
            //console.log(event.relatedTarget.extendedProps.description);
            //console.log(event.relatedTarget.extendedProps.location
        })


        let ec = new EventCalendar(document.getElementById('ec'), {
            view: 'timeGridWeek',
            firstDay: 1,
            selectable: true,
            editable: false,
            eventClick: function (info) {
                myModal.show(info.event);
            },
            select: function (info) {
                myModal.show(info);
            },
            events: window.vcEvents
        });
    </script>

</body>

</html>