<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VC - Guest Check-In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<style>
  html,
  body {
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
  }

  *:focus {
    outline: none;
  }


  input,
  select,
  textarea {
    color: #00000000;
  }
</style>

<body>
  <div class="position-absolute top-0 end-0 m-4">
    <div class="btn-group m-1" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark btn-sm" id="themeSwitch"><i
          class="bi bi-brightness-high-fill"></i></button>
      <button type="button" class="btn btn-outline-dark btn-sm" id="fullScreenToggle"><i
          class="bi bi-arrows-fullscreen text-light"></i></button>
    </div>
  </div>

  <div class="col py-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="row h-100 p-2 align-items-center">
    <div class="col text-center align-middle">
      <img src="../static/VC_logo_dark.png" id="image" class="img-fluid" alt="..." style="width: 40vw;">
    </div>
    <!-- <div class="col-auto align-items-stretch m-2" >
     
        <div class="vr vh-100 "></div>
     
    </div> -->
    <div class="col text-center align-middle">
      <h1>Please Scan your QR Code</h1>
      <h4>Or</h4>


      <a href="/registerGuest">
        <button type="button" class="btn btn-danger btn-lg">Sign Up</button>
      </a>




    </div>
  </div>





  <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="infoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto fs-2">Guest Signed IN</strong>
      </div>
      <div class="toast-body fs-2" id="infoToastBody">
        Welcome Guest!
      </div>
    </div>
  </div>


  <div class="position-absolute bottom-0 start-50 translate-middle-x">
    <div class="form-group">
      <input type="text" class="form-control" inputmode="none" id="code" placeholder="QR CODE ENTRY"></input>
    </div>
  </div>













  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


  <script>















    var themeSwitch = document.getElementById('themeSwitch');
    var fullScreenToggle = document.getElementById('fullScreenToggle');
    var image = document.getElementById('image');
    var code = document.getElementById('code');

    focusOnCodeTimer = setTimeout(focusOnCode, 1000);

    fullScreenToggle.addEventListener('click', toggleFullScreen);







    if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
      themeSwitch.innerHTML = '<i class="bi bi-brightness-high-fill text-warning"></i>'
    }
    else {
      themeSwitch.innerHTML = '<i class="bi bi-moon-fill text-light-emphasis"></i>'
    }


    themeSwitch.addEventListener('click', () => {
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light')
        themeSwitch.classList.replace('btn-outline-dark', 'btn-outline-light')
        fullScreenToggle.classList.replace('btn-outline-dark', 'btn-outline-light')
        themeSwitch.innerHTML = '<i class="bi bi-moon-fill text-light-emphasis"></i>'
        fullScreenToggle.innerHTML = '<i class="bi bi-arrows-fullscreen text-dark"></i>'
        image.src = '../static/VC_logo_light.png'
      }
      else {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
        themeSwitch.classList.replace('btn-outline-light', 'btn-outline-dark')
        fullScreenToggle.classList.replace('btn-outline-light', 'btn-outline-dark')
        themeSwitch.innerHTML = '<i class="bi bi-brightness-high-fill text-warning"></i>'
        fullScreenToggle.innerHTML = '<i class="bi bi-arrows-fullscreen text-light"></i>'
        image.src = '../static/VC_logo_dark.png'
      }
      focusOnCode();
    })


    function focusOnCode() {
      //code.focus();
      if (allowQrCodeInput) {
        code.readOnly = true;
        code.focus();
        setTimeout(function () { code.readOnly = false; }, 50);
      }
    }


    function toggleFullScreen() {
      if (!document.fullscreenElement &&    // alternative standard method
        !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
        if (document.documentElement.requestFullscreen) {
          document.documentElement.requestFullscreen();
        } else if (document.documentElement.mozRequestFullScreen) {
          document.documentElement.mozRequestFullScreen();
        } else if (document.documentElement.webkitRequestFullscreen) {
          document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
        }
      } else {
        if (document.cancelFullScreen) {
          document.cancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        }
      }
      focusOnCode();

    }

    //code.focus();
    //document.getElementById("code").

    code.onkeyup = function (e) {

      if (allowQrCodeInput) {

        if (e.key === 'Enter' || e.key === 'Tab' || e.keyCode === 13) {

          SubmitQrCode();
        }

      }
    };

    var qrCodeInput = "";
    var allowQrCodeInput = true;

    var myToastEl = document.getElementById('infoToast')
    var myToastElBody = document.getElementById('infoToastBody')
    var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl) // Returns a Bootstrap toast instance


    function SubmitQrCode() {

      console.log('Submitting QR Code:', qrCodeInput);

      if (!qrCodeInput) {
        qrCodeInput = document.getElementById('code').value
      }


      if (qrCodeInput) {
        //qrCodeInput = qrCodeInput.replace(/[^a-zA-Z0-9]/g, '');
        //qrCodeInput = qrCodeInput.replace(/[^\w\s]/gi, '');
        //qrCodeInput = qrCodeInput.replace(/[^ -~]+/g, "");



        url = '{{ url_for("checkIn" ) }}' + encodeURI(qrCodeInput)
        //alert(url)


        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            document.getElementById('code').value = ""
            console.log('Data received:', data);
            myToastElBody.innerText = 'Welcome ' + data
            myToast.show()
          })
          .catch(error => {
            document.getElementById('code').value = ""
            console.error('There was a problem with the fetch operation:', error);

          });



        //alert('QR Code Submitted');
      } else {
        //alert('Error');
      }
      qrCodeInput = "";
    }

    var qrCodeInputTimer = null;

    document.ontouchend = function (e) {
      //e.preventDefault();
      focusOnCode();
    };
    document.onclick = function (e) {
      //e.preventDefault();
      focusOnCode();
    };



    document.onkeyup = function (e) {
      if (allowQrCodeInput) {

        clearTimeout(qrCodeInputTimer);
        qrCodeInputTimer = setTimeout(SubmitQrCode, 1000);
        if (e.key === 'Enter') {
          //   qrCodeInput += `${e.key}`; //String.fromCharCode(e.keyCode || e.which);          
          // } else {
          clearTimeout(qrCodeInputTimer);
          //SubmitQrCode();
        }
      }
    };


  </script>
</body>

</html>