{% extends 'layout.html' %}


{% block content %}
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal"
        data-bs-mode="new">
        Add Guest Manually
    </button>
    <a href="/registerAdmin"><button type="button" class="btn btn-primary">Register Admin</button></a>


</div>

<table class="table-dark rounded-3 overflow-hidden" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true" scope="col">Handle</th>
            <th data-sortable="true" scope="col">Name</th>
            <th data-sortable="true" scope="col">Roles</th>
            <th data-sortable="true" scope="col">Last Visit</th>
            <th data-align="right" scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <th scope="row">LoyalSub</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>x days ago</td>
            <td><button type="button" class="btn btn-sm btn-danger">Edit</button> <button type="button"
                    class="btn btn-sm btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">Kari</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>x days ago</td>
            <td><button type="button" class="btn btn-sm btn-danger">Edit</button> <button type="button"
                    class="btn btn-sm btn-danger">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">Tia</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>x days ago</td>
            <td><button type="button" class="btn btn-sm btn-danger">Edit</button> <button type="button"
                    class="btn btn-sm btn-danger">Delete</button></td>
        </tr> -->


        {{ current_user.roles and current_user | check_role_allow_password_reset }}


        {% for guest in guests %}
        <tr>
            <th scope="row">{{guest.fetUsername}}</th>
            <th>{{guest.name}}</th>
            {% if guest.roles %}
            <td>{{guest.roles}}</td>
            {% else %}
            <td>None Assigned</td>
            {% endif %}





            {% if guest.lastVisit %}
            <td>{{ moment(guest.lastVisit).fromNow() }}</td>
            {% else %}
            <td>Never</td>
            {% endif %}
            <td>

                {% if current_user.roles and current_user | check_role_allow_password_reset %}
                <a href="/resetPassword/{{guest.id}}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Reset & Email Backoffice User Password"><button type="button"  class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-arrow-clockwise"></i></button></a>
                {% endif %}
                <a href="/guestCredit/{{guest.id}}"  ><button type="button"  class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-cash-coin"></i></button></a>
                <button type="button" class="btn btn-sm btn-outline-danger"  
                    data-bs-target="#registerModal" data-bs-mode="edit" data-bs-uuid="{{guest.id}}"><i
                        class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-sm btn-outline-danger" 
                    data-bs-target="#qrModal" data-bs-qr="{{guest.uuid}}"><i class="bi bi-qr-code"></i></button>
                <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button> -->
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>




<!-- Modals -->
<div class="modal fade " id="registerModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content ">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="exampleModalLabel">New Guest Registration</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark text-light">

                <form class="row g-3" method="post">


                    <div class="col-md-6">


                        <label for="id" class="form-label">id</label>
                        <input type="text" class="form-control" name="id" id="id" readonly>

                    </div>
                    <div class="col-md-6">
                        <label for="uuid" class="form-label">Unique QR Code</label>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="refreshQrCode"><i
                                    class="bi bi-arrow-clockwise"></i></button>
                            <input type="text" class="form-control" placeholder="UUID" name="uuid" id="uuid"
                                aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                            <!-- <button class="btn btn-outline-secondary" type="button" id="showQrCode"
                                    data-bs-toggle="modal" data-bs-target="#qrModal"><i
                                        class="bi bi-qr-code"></i></button> -->

                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="fetUsername" class="form-label">Fet/Fetlife Username</label>
                        <div class="input-group">
                            <span class="input-group-text" id="fetUsernamePrepend">@</span>
                            <input type="text" class="form-control" name="fetUsername" id="fetUsername">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>


                    <div class="col-md-6">
                        <label for="emailAddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="emailAddress" id="emailAddress"
                            placeholder="name@example.com" required>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Phone #</label>
                        <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
                            placeholder="301-000-0000">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="False" name="termsCheck"
                                id="termsCheck">
                            <label class="form-check-label" for="termsCheck">
                                Agree to Terms and Conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="qrModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">QR Code</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="vstack gap-3 ">
                    <div class="d-flex justify-content-center">
                        <div id="qrcode" class=" text-center justify-content-center"></div>
                    </div>
                    <p id="qrcodeRaw" class="text-center"></p>
                </div>

            </div>
        </div>
    </div>
</div>



<script>


    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip-guest"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))




    const generateUuidURL = '{{ url_for("generateUUID") }}'
    var registerModal = document.getElementById('registerModal')
    var qrCodeModal = document.getElementById('qrModal')
    var refreshQrCode = document.getElementById('refreshQrCode')

    function fetchUUID() {
        fetch(generateUuidURL)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                document.getElementById('uuid').value = data
                //document.getElementById('showQrCode').dataset.bsQr = data
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "http://jindo.dev.naver.com/collie",
        width: 256,
        height: 256,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    qrCodeModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var data = button.getAttribute('data-bs-qr')

        if (data != null) {
            document.getElementById("qrcodeRaw").innerHTML = data;
            qrcode.clear(); // clear the code.
            qrcode.makeCode(data); // make another code.
        }
    })

    registerModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var uuidData = button.getAttribute('data-bs-uuid')
        var mode = button.getAttribute('data-bs-mode')
        console.log('Mode:', mode);



        if (uuidData == null) {
            fetchUUID()
            document.getElementById('fetUsername').value = ""
            document.getElementById('name').value = ""
            document.getElementById('emailAddress').value = ""
            document.getElementById('phoneNumber').value = ""
            document.getElementById('termsCheck').checked = false
        } else {
            console.log('Data:', uuidData);
            const url = '{{ url_for("getGuest")}}' + uuidData
            console.log('URL:', url);
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);

                    if (data != null) {
                        console.log('Data received:', data);
                        document.getElementById('id').value = data.id
                        document.getElementById('uuid').value = data.uuid
                        document.getElementById('fetUsername').value = data.fetUsername
                        document.getElementById('name').value = data.name
                        document.getElementById('emailAddress').value = data.email
                        document.getElementById('phoneNumber').value = data.phone
                        document.getElementById('termsCheck').checked = data.termsCheck
                    }


                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }




    })

    refreshQrCode.addEventListener('click', function (event) {
        fetchUUID()
    })
</script>


{% endblock content %}