{% extends 'layout.html' %}


{% block content %}

<script>
    const settings = {
        member_role_to_show: '{{settings.member_role_to_show}}'
    }
</script>

<div>
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-mode="new">Add Guest Manually</button>
    <a href="/registerAdmin"><button type="button" class="btn btn-primary">Register Admin</button></a> -->


</div>


<div id="toolbar">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal"
        data-bs-mode="new">Add Guest Manually</button>
    <a href="/registerAdmin"><button type="button" class="btn btn-primary">Register Admin</button></a>
</div>



<table class="table-dark rounded-3 overflow-hidden" data-toolbar="#toolbar" data-toggle="table"
    data-show-columns="true">
    <thead>
        <tr>
            <th scope="col" data-switchable="true"></th>
            <th data-sortable="true" scope="col" data-switchable="false">Handle</th>
            <th data-sortable="true" scope="col" data-field="name" data-visible="false" class='d-none d-md-table-cell'>
                Name</th>
            <th data-sortable="true" scope="col" class='d-none d-lg-table-cell' data-switchable="false">Roles</th>
            <th data-sortable="true" scope="col" class='d-none d-xl-table-cell' data-switchable="false">Credits</th>
            <th data-sortable="true" scope="col" data-switchable="false">Checked In</th>
            <th data-sortable="true" scope="col" data-switchable="false">Last Visit</th>
            <th data-align="right" scope="col" data-switchable="false"></th>

        </tr>
    </thead>
    <tbody>

        {% for guest in guests %}
        <tr>
            <td>
                <button type="button" class="btn btn-sm" data-bs-mode="edit" data-bs-uuid="{{guest.id}}">

                    {% if guest.checkin_blocked == None %}
                    <i class="bi bi-person-fill-lock text-success"></i>
                    {% elif guest.checkin_blocked == False %}
                    <i class="bi bi-person-fill-lock text-success"></i>
                    {% else %}
                    <i class="bi bi-person-fill-lock text-danger"></i>
                    {% endif %}

                    <!-- <i class="bi bi-pencil-square"></i>-->


                </button>
            </td>
            <!-- <td scope="row">{{guest.checkin_blocked}} </td> -->
            <td>
                {% if guest.fetUsername %}
                {{guest.fetUsername}}
                {% else %}
                {{guest.name}}
                {% endif %}
            </td>




            <td class='d-none d-md-table-cell'>{{guest.name}}</td>
            {% if guest.roles %}
            <td class='d-none d-lg-table-cell'>{{guest.roles}}</td>
            {% else %}
            <td class='d-none d-lg-table-cell'>None Assigned</th>
                {% endif %}


            <td class=''>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="px-1">{{guest.credit | get_general_credits }}</div>
                    <div class="px-1"><a href="/guestCredit/{{guest.id}}"><button type="button"
                                class="btn btn-sm btn-outline-danger"><i class="bi bi-cash-coin"></i>
                                Credits</button></a></div>
                </div>
            </td>

            <!-- <td class='d-none d-xl-table-cell'>{{guest.credit | get_general_credits }} &nbsp; <a
                    href="/guestCredit/{{guest.id}}"><button type="button" class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-cash-coin"></i> Credits</button></a></td> -->


            {% if guest.checkedIn %}
            <td class='d-none d-lg-table-cell'><i class="bi bi-clipboard2-check-fill text-success"></i> <a
                    href="/checkOut/{{guest.id}}/Manually?next=%2Fguests">(CheckOut)</a></td>
            {% else %}
            <td class='d-none d-lg-table-cell'><i class="bi bi-clipboard2-x-fill text-danger"></i> <a
                    href="/checkIn/{{guest.id}}/Manually?next=%2Fguests">(CheckIn)</a></td>
            {% endif %}

            {% if guest.lastVisit %}
            <td>{{ moment(guest.lastVisit).fromNow() }}</td>
            {% else %}
            <td>Never</td>
            {% endif %}
            <td>

                {% if current_user.roles and current_user | check_role_allow_password_reset %}
                <a href="/resetPassword/{{guest.id}}"><button type="button" class="btn btn-sm btn-outline-danger"><i
                            data-bs-toggle="tooltip" data-bs-title="Reset Guest Password"
                            class="bi bi-arrow-clockwise"></i> Reset Pass</button></a>
                {% endif %}


                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#registerModal" data-bs-mode="edit" data-bs-uuid="{{guest.id}}"
                    data-bs-roles="{{guest.roles}}"><i class="bi bi-pencil-square"></i> Edit</button>

                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#qrModal" data-bs-qr="{{guest.uuid}}"><i class="bi bi-qr-code"></i> QR</button>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>




<!-- Modals -->



<div class="modal fade" id="qrModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">QR Code</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="vstack gap-3 ">
                    <div class="d-flex justify-content-center">
                        <div id="qrcode" class=" text-center justify-content-center"></div>
                    </div>
                    <p id="qrcodeRaw" class="text-center"></p>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade " id="registerModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content ">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="registerModalLabel">New Guest Registration</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark text-light">

                <form class="row g-3" method="post">


                    <div class="col-md-6">


                        <label for="id" class="form-label">id</label>
                        <input type="text" class="form-control" name="id" id="id" readonly>

                    </div>
                    <div class="col-md-6">






                        <label for="uuid" id="uuidLabel" class="form-label">Unique QR Code</label>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="refreshQrCode"><i
                                    class="bi bi-arrow-clockwise"></i></button>
                            <input type="text" class="form-control" placeholder="UUID" name="uuid" id="uuid"
                                aria-label="Example text with button addon" aria-describedby="button-addon1">

                            <!-- <label for="uuid" class="form-label">Unique QR Code (Locked)</label>
                                <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="UUID" name="uuid" id="uuid"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    readonly>
                        -->





                            <!-- <button class="btn btn-outline-secondary" type="button" id="showQrCode"
                                    data-bs-toggle="modal" data-bs-target="#qrModal"><i
                                        class="bi bi-qr-code"></i></button> -->

                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="fetUsername" class="form-label">Fet/Fetlife Username</label>
                        <div class="input-group">
                            <span class="input-group-text" id="fetUsernamePrepend">@</span>
                            <input type="text" class="form-control" name="fetUsername" id="fetUsername">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>


                    <div class="col-md-6">
                        <label for="emailAddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="emailAddress" id="emailAddress"
                            placeholder="name@example.com" required>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Phone #</label>
                        <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
                            placeholder="301-000-0000">
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="False" name="termsCheck"
                                id="termsCheck">
                            <label class="form-check-label" for="termsCheck">
                                Agree to Terms and Conditions
                            </label>
                        </div>
                    </div>
                    {% if settings.membership_role %}

                    <div class="col-md-6">
                        <div class="btn-group" role="group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradiomember" value="member"
                                autocomplete="off">
                            <label class="btn btn-outline-success" for="btnradiomember">Member</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradiononmember" value="nonmember"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-danger" for="btnradiononmember">Non-Member</label>
                        </div>

                    </div>
                    {% endif %}




                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
<script>


    document.addEventListener('DOMContentLoaded', function () {
        // var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        // var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        //     return new bootstrap.Tooltip(tooltipTriggerEl)
        // })

        $('#table').bootstrapTable('hideColumn', 'name')

    })


    const generateUuidURL = '{{ url_for("generateUUID") }}'
    var registerModal = document.getElementById('registerModal')
    var registerModalTitle = document.getElementById('registerModalLabel')
    var qrCodeModal = document.getElementById('qrModal')
    var refreshQrCode = document.getElementById('refreshQrCode')

    function fetchUUID() {
        fetch(generateUuidURL)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                document.getElementById('uuid').value = data
                //document.getElementById('showQrCode').dataset.bsQr = data
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "http://jindo.dev.naver.com/collie",
        width: 256,
        height: 256,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    qrCodeModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var data = button.getAttribute('data-bs-qr')
        console.log('Data:', data);

        if (data != null) {
            document.getElementById("qrcodeRaw").innerHTML = data;
            qrcode.clear(); // clear the code.
            qrcode.makeCode(data); // make another code.
        }
    })

    registerModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var uuidData = button.getAttribute('data-bs-uuid')
        var rolesData = button.getAttribute('data-bs-roles')
        console.log('Roles:', rolesData);
        var mode = button.getAttribute('data-bs-mode')
        console.log('Mode:', mode);



        if (uuidData == null) {
            fetchUUID()
            document.getElementById('id').value = ""
            document.getElementById('fetUsername').value = ""
            document.getElementById('name').value = ""
            document.getElementById('emailAddress').value = ""
            document.getElementById('phoneNumber').value = ""
            document.getElementById('termsCheck').checked = false
        } else {
            registerModalTitle.innerText = 'Edit Guest'
            console.log('Data:', uuidData);
            const url = '{{ url_for("getGuest")}}' + uuidData
            console.log('URL:', url);
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);

                    if (data.data != null) {



                        document.getElementById('id').value = data.data.id
                        document.getElementById('uuid').value = data.data.uuid
                        document.getElementById('fetUsername').value = data.data.fetUsername
                        document.getElementById('name').value = data.data.name
                        document.getElementById('emailAddress').value = data.data.email
                        document.getElementById('phoneNumber').value = data.data.phone
                        document.getElementById('termsCheck').checked = data.data.termsCheck

                        if (data.allow_qrcode_refresh != null) {
                            document.getElementById('uuid').setAttribute('readonly', true)
                            document.getElementById('uuidLabel').value = 'Unique QR Code (Locked)'
                            document.getElementById('refreshQrCode').disabled = true

                            if (data.allow_qrcode_refresh == true) {
                                document.getElementById('refreshQrCode').disabled = false
                                document.getElementById('uuid').removeAttribute('readonly')
                                document.getElementById('uuidLabel').value = 'Unique QR Code'
                            }
                        } else {

                            document.getElementById('uuid').removeAttribute('readonly')
                            document.getElementById('uuidLabel').value = 'Unique QR Code'
                            document.getElementById('refreshQrCode').disabled = false
                        }
                    }


                    if (data.membershipRole != null) {
                        console.log('membershipRole:', data.membershipRole, typeof data.membershipRole);
                        if (data.userRoles != null && data.userRoles.length > 0) {
                            console.log('User Roles:', data.userRoles);
                            for (var i = 0; i < Object.keys(data.userRoles).length; i++) {
                                console.log('Role:', data.userRoles[i].name);

                                if (data.userRoles[i].name === data.membershipRole.name) {
                                    console.log('Role Matched:', data.userRoles[i].name, data.membershipRole.name);
                                    document.getElementById('btnradiomember').checked = true
                                    document.getElementById('btnradiononmember').checked = false
                                    break;
                                }
                                document.getElementById('btnradiomember').checked = false
                                document.getElementById('btnradiononmember').checked = true
                            }
                        } else {
                            document.getElementById('btnradiomember').checked = false
                            document.getElementById('btnradiononmember').checked = true
                        }
                    } else {
                        document.getElementById('btnradiomember').checked = false
                        document.getElementById('btnradiononmember').checked = true
                    }



                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }




    })

    refreshQrCode.addEventListener('click', function (event) {
        fetchUUID()
    })
</script>
{% endblock script %}