<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VC - Guest Check-In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<style>
  html,
  body {
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
  }

  *:focus {
    outline: none;
  }


  input,
  select,
  textarea {
    color: #00000000;
  }
</style>

<body>
  <div class="position-absolute top-0 end-0 m-4">
    <div class="btn-group m-1" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark btn-sm" id="themeSwitch"><i
          class="bi bi-brightness-high-fill"></i></button>
      <button type="button" class="btn btn-outline-dark btn-sm" id="fullScreenToggle"><i
          class="bi bi-arrows-fullscreen text-light"></i></button>
    </div>
  </div>


  <div class="row h-100 p-2 align-items-center">
    <div class="col text-center align-middle">
      <img src="../static/VC_logo_dark.png" id="image" class="img-fluid" alt="..." style="width: 40vw;">
    </div>
    <!-- <div class="col-auto align-items-stretch m-2" >
     
        <div class="vr vh-100 "></div>
     
    </div> -->
    <div class="col text-center align-middle">
      <h1>Please Scan your QR Code</h1>
      <h4>Or</h4>


      <a href="/registerGuest">
        <button type="button" class="btn btn-danger btn-lg">Sign Up</button>
      </a>




    </div>
  </div>





  <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="infoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong id="infoToastHeader" class="me-auto fs-2">Guest Signed IN</strong>
      </div>
      <div class="toast-body fs-2" id="infoToastBody">
        Welcome Guest!
      </div>
    </div>
  </div>


  <div class="position-absolute bottom-0 start-50 translate-middle-x">
    <div class="form-group">
      <input type="text" class="form-control" inputmode="none" id="code" placeholder="QR CODE ENTRY"></input>
    </div>
  </div>






  <div class="modal fade " id="checkInPaymentModal" aria-hidden="true" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title">Before Checking In, Please Choose a Payment Method.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body d-flex justify-content-center" id="checkInPaymentModalBody">
            <div class="d-flex flex-column ">
              <nav>
                <div class="nav nav-pills justify-content-center text-center" id="nav-tab" role="tablist">
                  <div class="btn-group btn-group-lg d-flex" role="group" aria-label="Basic radio toggle button group">

                    {% if setting.show_cashapp %}
                    <input type="radio" class="btn-check active" data-bs-toggle="tab" data-bs-target="#nav-cashapp"
                      role="tab" name="btnradio" id="btnradio" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="btnradio">
                      <img width="48" height="48" src="../static/icons8-cashapp-48.png" alt="cash-app" />
                      CashApp
                    </label>
                    {% endif %}
                    {% if setting.show_paypal %}
                    <input type="radio" class="btn-check" data-bs-toggle="tab" data-bs-target="#nav-paypal" role="tab"
                      name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">
                      <img width="48" height="48" src="../static/icons8-paypal-48.png" alt="paypal" />
                      Paypal
                    </label>
                    {% endif %}
                    {% if setting.show_venmo %}
                    <input type="radio" class="btn-check" data-bs-toggle="tab" data-bs-target="#nav-venmo" role="tab"
                      name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">
                      <img width="48" height="48" src="../static/venmo.webp" alt="venmo" />
                      Venmo
                    </label>
                    {% endif %}
                    {% if setting.show_cash %}
                    <input type="radio" class="btn-check" data-bs-toggle="tab" data-bs-target="#nav-cash" role="tab"
                      name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-success" for="btnradio3">
                      <img width="48" height="48" src="../static/icons8-money-48.png" alt="cash" />
                      Cash
                    </label>
                    {% endif %}
                    {% if setting.show_credit %}
                    <input type="radio" class="btn-check" data-bs-toggle="tab" data-bs-target="#nav-credit" role="tab"
                      name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio4">
                      <img width="48" height="48" src="../static/icons8-cash-48.png" alt="credit" />
                      Credit(s)
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        id="generalCreditAmount">
                        0
                        <span class="visually-hidden"></span>
                      </span>
                    </label>
                    {% endif %}
                  </div>
                </div>
              </nav>

              <div class="tab-content" id="nav-tabContent">
                {% if setting.show_cashapp %}
                <div class="tab-pane show text-center m-4 active" id="nav-cashapp" role="tabpanel" tabindex="0">
                  <div class="d-inline-flex flex-column mb-3 text-center">
                    <div class="p-2">
                      <img class="mb-4 text-center" width="200" height="200" src="../static/cashappQR.svg"
                        alt="CashApp" />
                    </div>
                    <div class="p-2">
                      <button type="button" id="payWithCashappBtn" data-payment-method="cashapp" data-bs-dismiss="modal"
                        class="btn btn-success btn-lg">Paid Using CashApp, Check-In Now</button>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if setting.show_paypal %}
                <div class="tab-pane text-center m-4" id="nav-paypal" role="tabpanel" tabindex="0">
                  <div class="d-inline-flex flex-column mb-3 text-center">
                    <div class="p-2">
                      <img class="mb-4 text-center" width="200" height="200" src="../static/paypalQR.svg"
                        alt="Paypal" />
                    </div>
                    <div class="p-2">
                      <button type="button" id="payWithPaypalBtn" data-payment-method="paypal" data-bs-dismiss="modal"
                        class="btn btn-primary btn-lg">Paid Using Paypal, Check-In Now</button>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if setting.show_venmo %}
                <div class="tab-pane text-center m-4" id="nav-venmo" role="tabpanel" tabindex="0">
                  <div class="d-inline-flex flex-column mb-3 text-center">
                    <div class="p-2">
                      <img class="mb-4 text-center" width="200" height="200" src="../static/venmoQR.svg" alt="Venmo" />
                    </div>
                    <div class="p-2">
                      <button type="button" id="payWithVenmoBtn" data-payment-method="venmo" data-bs-dismiss="modal"
                        class="btn btn-primary btn-lg">Paid Using Venmo, Check-In Now</button>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if setting.show_cash %}
                <div class="tab-pane text-center m-4" id="nav-cash" role="tabpanel" tabindex="0">
                  <div class="d-inline-flex flex-column mb-3 text-center">
                    <div class="p-2">
                      <p>Please Provide Payment to VC Staff Shortly After Check-In</p>
                    </div>
                    <div class="p-2">
                      <button type="button" id="payWithCashBtn" data-payment-method="cash" data-bs-dismiss="modal"
                        class="btn btn-primary btn-lg m-4"> Check-In Now</button>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if setting.show_credit %}
                <div class="tab-pane text-center m-4 " id="nav-credit" role="tabpanel" tabindex="0">
                  <div class="d-inline-flex flex-column mb-3 text-center">
                    <div class="p-2">
                      <button type="button" id="payWithCreditBtn" data-payment-method="credit" data-bs-dismiss="modal"
                        class="btn btn-primary btn-lg m-4"> Check-In
                        Now</button>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.1.2/dist/js/coreui.bundle.min.js"
    integrity="sha384-yoEOGIfJg9mO8eOS9dgSYBXwb2hCCE+AMiJYavhAofzm8AoyVE241kjON695K1v5"
    crossorigin="anonymous"></script>

  <script>






    // var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
    // triggerTabList.forEach(function (triggerEl) {
    //   var tabTrigger = new bootstrap.Tab(triggerEl)

    //   triggerEl.addEventListener('click', function (event) {
    //     event.preventDefault()
    //     tabTrigger.show()
    //   })
    // })

    console.log('Guest View Loading...');
      


    var themeSwitch = document.getElementById('themeSwitch');
    var fullScreenToggle = document.getElementById('fullScreenToggle');
    var image = document.getElementById('image');
    var code = document.getElementById('code');

    focusOnCodeTimer = setTimeout(focusOnCode, 1000);

    fullScreenToggle.addEventListener('click', toggleFullScreen);



    var payWithCashappBtn = document.getElementById('payWithCashappBtn')
    var payWithPaypalBtn = document.getElementById('payWithPaypalBtn')
    var payWithVenmoBtn = document.getElementById('payWithVenmoBtn')
    var payWithCreditBtn = document.getElementById('payWithCreditBtn')

    if (payWithCashappBtn) {
      payWithCashappBtn.addEventListener('click', {
        handleEvent(event) {
          CheckInQrCode(event.target.dataset.qrCode, event.target.dataset.paymentMethod);
        }
      })
    }
    if (payWithPaypalBtn) {
      payWithPaypalBtn.addEventListener('click', {
        handleEvent(event) {
          CheckInQrCode(event.target.dataset.qrCode, event.target.dataset.paymentMethod);
        }
      })
    }
    if (payWithVenmoBtn) {
      payWithVenmoBtn.addEventListener('click', {
        handleEvent(event) {
          CheckInQrCode(event.target.dataset.qrCode, event.target.dataset.paymentMethod);
        }
      })
    }
    if (payWithCashBtn) {
      payWithCashBtn.addEventListener('click', {
        handleEvent(event) {
          CheckInQrCode(event.target.dataset.qrCode, event.target.dataset.paymentMethod);
        }
      })
    }
    if (payWithCreditBtn) {
      payWithCreditBtn.addEventListener('click', {
        handleEvent(event) {
          CheckInQrCode(event.target.dataset.qrCode, event.target.dataset.paymentMethod);
        }
      })
    }


    const checkInPaymentModalEl = document.getElementById('checkInPaymentModal')


    const checkInPaymentModal = new bootstrap.Modal(checkInPaymentModalEl, {
      keyboard: false
    })


    checkInPaymentModalEl.addEventListener('hidden.bs.modal', event => {
      // do something...
    })




    if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
      themeSwitch.innerHTML = '<i class="bi bi-brightness-high-fill text-warning"></i>'
    }
    else {
      themeSwitch.innerHTML = '<i class="bi bi-moon-fill text-light-emphasis"></i>'
    }


    themeSwitch.addEventListener('click', () => {
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light')
        themeSwitch.classList.replace('btn-outline-dark', 'btn-outline-light')
        fullScreenToggle.classList.replace('btn-outline-dark', 'btn-outline-light')
        themeSwitch.innerHTML = '<i class="bi bi-moon-fill text-light-emphasis"></i>'
        fullScreenToggle.innerHTML = '<i class="bi bi-arrows-fullscreen text-dark"></i>'
        image.src = '../static/VC_logo_light.png'
      }
      else {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
        themeSwitch.classList.replace('btn-outline-light', 'btn-outline-dark')
        fullScreenToggle.classList.replace('btn-outline-light', 'btn-outline-dark')
        themeSwitch.innerHTML = '<i class="bi bi-brightness-high-fill text-warning"></i>'
        fullScreenToggle.innerHTML = '<i class="bi bi-arrows-fullscreen text-light"></i>'
        image.src = '../static/VC_logo_dark.png'
      }
      focusOnCode();
    })


    function focusOnCode() {
      //code.focus();
      if (allowQrCodeInput) {
        code.readOnly = true;
        code.focus();
        setTimeout(function () { code.readOnly = false; }, 50);
      }
    }


    function toggleFullScreen() {
      if (!document.fullscreenElement &&    // alternative standard method
        !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
        if (document.documentElement.requestFullscreen) {
          document.documentElement.requestFullscreen();
        } else if (document.documentElement.mozRequestFullScreen) {
          document.documentElement.mozRequestFullScreen();
        } else if (document.documentElement.webkitRequestFullscreen) {
          document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
        }
      } else {
        if (document.cancelFullScreen) {
          document.cancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        }
      }
      focusOnCode();

    }

    //code.focus();
    //document.getElementById("code").

    code.onkeyup = function (e) {

      if (allowQrCodeInput) {

        if (e.key === 'Enter' || e.key === 'Tab' || e.keyCode === 13) {

          SubmitQrCode();
        }

      }
    };

    var qrCodeInput = "";
    var allowQrCodeInput = true;

    var myToastEl = document.getElementById('infoToast')

    var myToastElHeader = document.getElementById('infoToastHeader')
    var myToastElBody = document.getElementById('infoToastBody')
    var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl) // Returns a Bootstrap toast instance




    function SubmitQrCode() {
      qrCodeInput = document.getElementById('code').value
      console.log('Submitting QR Code:', qrCodeInput);


      if (qrCodeInput) {
        //qrCodeInput = qrCodeInput.replace(/[^a-zA-Z0-9]/g, '');
        //qrCodeInput = qrCodeInput.replace(/[^\w\s]/gi, '');
        //qrCodeInput = qrCodeInput.replace(/[^ -~]+/g, "");



        url = '{{ url_for("preCheckIn" ) }}' + encodeURI(qrCodeInput)
        //alert(url)


        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            document.getElementById('code').value = ""
            if (!data.error) {
              console.log('Data received:', data);
              skipPaymentView = false
              skipPaymentView = data.skip_payment
              if (skipPaymentView === true) {
                CheckInQrCode(data.uuid, 'SkippedPaymentScreen Via Role Set:' + data.roles);
                return
              }
              generalCreditAmountPill = document.getElementById('generalCreditAmount')
              if (generalCreditAmountPill) { // Check if Credit method is shown
                //console.log('Credit Account:', data);
                if (data.generalCredits) {
                  document.getElementById('btnradio4').disabled = false
                  generalCreditAmountPill.classList.remove('d-none')
                  generalCreditAmountPill.innerText = data.generalCredits
                  if (data.generalCredits > 0) {
                    payWithCreditBtn.disabled = false
                    payWithCreditBtn.innerText = 'Pay Using 1 of ' + data.generalCredits + ' available Credits, Checkin Now'
                  } else {
                    payWithCreditBtn.innerText = '0 available Credits'
                    payWithCreditBtn.disabled = true
                  }
                } else {
                  document.getElementById('btnradio4').disabled = true
                  generalCreditAmountPill.classList.add('d-none')
                }

              } else {
                console.log('Skipping, No Credit Account', data);
                //CheckInQrCode(qrCodeInput, data);
              }


              if (payWithCashappBtn) { payWithCashappBtn.dataset.qrCode = data.uuid }
              if (payWithPaypalBtn) { payWithPaypalBtn.dataset.qrCode = data.uuid }
              if (payWithVenmoBtn) { payWithVenmoBtn.dataset.qrCode = data.uuid }
              if (payWithCashBtn) { payWithCashBtn.dataset.qrCode = data.uuid }
              if (payWithCreditBtn) { payWithCreditBtn.dataset.qrCode = data.uuid }

              checkInPaymentModal.show(checkInPaymentModalEl)


            } else {
              myToastElHeader.innerText = 'Notice'
              myToastElBody.innerText = data.error
              myToast.show()
            }



            //myToastElHeader.innerText = 'Error'
            //myToastElBody.innerText = 'Welcome ' + data
            //myToast.show()
          })
          .catch(error => {
            document.getElementById('code').value = ""
            console.error('There was a problem with the fetch operation:', error);
            myToastElHeader.innerText = 'Error'
            myToastElBody.innerText = 'Network Error'
            myToast.show()
          });



        //alert('QR Code Submitted');
      } else {
        //alert('Error');
      }
      qrCodeInput = "";
    }



    function CheckInQrCode(qrCode = null, paymentMethod = null) {

      console.log('Checking In QR Code:', qrCode, paymentMethod);

      if (qrCode && paymentMethod) {
        url = '{{ url_for("checkIn" ) }}' + encodeURI(qrCode) + '/' + encodeURI(paymentMethod)

        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            document.getElementById('code').value = ""
            console.log('Data received:', data);

            myToastElHeader.innerText = 'Checked In'
            myToastElBody.innerText = 'Welcome ' + data.guest
            myToast.show()
          })
          .catch(error => {
            document.getElementById('code').value = ""
            //console.error('There was a problem with the fetch operation:', error);

          });



        //alert('QR Code Submitted');
      } else {
        //alert('Error');
      }
      qrCodeInput = "";
    }

    var qrCodeInputTimer = null;

    document.ontouchend = function (e) {
      //e.preventDefault();
      focusOnCode();
    };
    document.onclick = function (e) {
      //e.preventDefault();
      focusOnCode();
    };



    document.onkeyup = function (e) {
      if (allowQrCodeInput) {

        clearTimeout(qrCodeInputTimer);
        qrCodeInputTimer = setTimeout(SubmitQrCode, 1000);
        if (e.key === 'Enter') {
          //   qrCodeInput += `${e.key}`; //String.fromCharCode(e.keyCode || e.which);          
          // } else {
          clearTimeout(qrCodeInputTimer);
          //SubmitQrCode();
        }
      }
    };


  </script>
</body>

</html>