{% extends 'layout.html' %}

{% block navbar %}
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="/" class="nav-link align-middle px-0 text-danger">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/guests" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Guests</span>
            </a>
        </li>
        <li>
            <a href="/logbook" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Logbook</span></a>
        </li>
        <li>
            <a href="/settings" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Settings</span></a>
        </li>
    </ul>
    <hr>

</div>
{% endblock navbar %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-bg-primary ">
            <div class="card-body">
                <h1 class="card-title text-center">{{guests_checked_in_count}}</h1>
                <p class="card-text text-center">Guests Currently Checked In</p>
            </div>
        </div>
    </div>

    <!-- <div class="col">
            <div class="card text-bg-danger  ">
                <div class="card-body">
                    <h1 class="card-title text-center">
                        {{guests_top_5}}

                        {% for guest, logs in guests_top_5 %}                                    
                            {% if guest.fetUsername  %}
                                @({{guest.fetUsername |e}}) {{guest.firstName |e}} {{guest.lastName |e}}    {{logs}}   
                            {% else %}
                                {{guest.firstName |e}} {{guest.lastName |e}}   {{logs}} 
                            {% endif %}                                                                     
                        {% endfor %}
                    </h1>
                    <p class="card-text text-center">Top 5 Guests</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-bg-success  ">
                <div class="card-body">
                    <h1 class="card-title text-center">10</h1>
                    <p class="card-text text-center">Guests Currently Checked In</p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card text-bg-warning  ">
                <div class="card-body">
                    <h1 class="card-title text-center">10</h1>
                    <p class="card-text text-center">Guests Currently Checked In</p>
                </div>
            </div>
        </div>
    -->

</div>
{% endblock content %}