{% extends 'layout.html' %}
{% block content %}
<div>
    <table class="table-dark rounded-3 overflow-hidden "
        data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th data-sortable="true" scope="col">Checkin Time</th>
                <th data-sortable="true" scope="col">Payment Method</th>
                <th data-sortable="true" scope="col">Scene Name</th>
                <th data-sortable="true" scope="col">Name</th>
            </tr>
        </thead>
        <tbody>

            {% for logItem in log %}
            <tr>
                <td>{{ moment(logItem.checked_in_at).format("dddd, MMMM Do YYYY, h:mm a") }}</td>
                <td scope="row">{{ logItem.paymentMethod }}</td>
                <td scope="row">{{guests[logItem.userID].fetUsername}}</td>
                <td scope="row">{{guests[logItem.userID].name}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}