{% extends 'layout.html' %}
{% block content %}
<div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="summary-date" data-bs-toggle="tab" data-bs-target="#summary-date-pane" 
          type="button" role="tab"  aria-selected="true">Summary by Date</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="summary-event" data-bs-toggle="tab" data-bs-target="#summary-event-pane" 
            type="button" role="tab"  aria-selected="false">Summary by Event</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="table" data-bs-toggle="tab" data-bs-target="#table-pane" 
          type="button" role="tab" aria-selected="false">All</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="summary-date-pane" role="tabpanel" tabindex="0">
            <div class="accordion" id="accordionExample">
                {% for item in distinct %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{item.date}}" aria-expanded="false" aria-controls="collapseOne"><span
                                class="badge bg-primary rounded-pill">{{item.events|length}}</span>&emsp;
                            Check In Date: {{item.date}}
                        </button>
                    </h2>
                    <div id="collapse{{item.date}}" class="accordion-collapse collapse ">
                        <div class="accordion-body">
        
                            <!-- {% for event in item.events %}
                                <li class="list-group-item">{{event.checked_in_at}}</li>
                                {% endfor %} -->
                            <table class="table overflow-hidden ">
                                <thead>
                                    <tr>
                                        <th scope="col">Checkin Time</th>
                                        <th scope="col" class='d-none d-lg-table-cell'>Payment Method</th>
                                        <th scope="col">Scene Name</th>
                                        <th scope="col" class='d-none d-md-table-cell'>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                    {% for logItem in item.events %}
                                    <tr>
                                        <td>{{ moment(logItem.checked_in_at).format("h:mm a") }}</td>
                                        <td scope="row" class='d-none d-lg-table-cell'>{{ logItem.paymentMethod }}</td>
                                        <td scope="row">{{guests[logItem.userID-1].fetUsername}}</td>
                                        <td scope="row" class='d-none d-md-table-cell'>{{guests[logItem.userID-1].name}}</td>
                                    </tr>
                                    {% endfor %}
        
                                </tbody>
                            </table>
        
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
        <div class="tab-pane fade" id="summary-event-pane" role="tabpanel" tabindex="0">
            ....        
        </div>
        <div class="tab-pane fade" id="table-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <table class="table-dark rounded-3 overflow-hidden " data-toggle="table" data-search="true">
                <thead>
                    <tr>
                        <th data-sortable="true" scope="col">Checkin Time</th>
                        <th data-sortable="true" scope="col">Payment Method</th>
                        <th data-sortable="true" scope="col">Scene Name</th>
                        <th data-sortable="true" scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
        
                    {% for logItem in log %}
                    <tr>
                        <td>{{ moment(logItem.checked_in_at).format("dddd, MMMM Do YYYY, h:mm a") }}</td>
                        <td scope="row">{{ logItem.paymentMethod }}</td>
                        <td scope="row">{{guests[logItem.userID-1].fetUsername}}</td>
                        <td scope="row">{{guests[logItem.userID-1].name}}</td>
                    </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        </div>
      </div>    
</div>
{% endblock content %}