{% extends 'layout.html' %}

{% block navbar %}
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/guests" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Guests</span>
            </a>
        </li>
        <li>
            <a href="/logbook" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Logbook</span></a>
        </li>
        <li>
            <a href="/settings" class="nav-link px-0 align-middle text-danger">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Settings</span></a>
        </li>
    </ul>
    <hr>
</div>
{% endblock navbar %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/3dc4q2n6ghntddfk8nly11e5ukcmmfm2vukb9z5e6kh3s8ii/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: 'textarea#tos',
    });
  </script>


<h1>Settings</h1>
<form class="row g-3" method="post">

    <div class="mb-3">
        <label for="tos" class="form-label">TOS</label>
        <textarea id="tos" name="tos">{{setting.tos}}</textarea>    
    </div>
    <div class="d-flex"> 
        <div class=" p-2">
            <button type="submit" type="submit" class="btn btn-primary">Save TOS</button>
        </div>    
    </div>    
  </form>


<script>
    CKEDITOR.replace( 'editor', {
    // Disable security notifications.
    versionCheck: false
} );
</script>
{% endblock content %}