{% extends 'layout.html' %}

{% block navbar %}
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a> -->
    <a href="/logout">
        <button type="button" class="btn btn-danger" href="/logout">Logout</button>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link align-middle px-0">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/guests" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Guests</span>
            </a>
        </li>
        <li>
            <a href="/logbook" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Logbook</span></a>
        </li>
        <li>
            <a href="/settings" class="nav-link px-0 align-middle text-danger">
                <i class="fs-4 bi-table "></i> <span class="ms-1 d-none d-sm-inline">Settings</span></a>
        </li>
    </ul>
    <hr>
</div>
{% endblock navbar %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/3dc4q2n6ghntddfk8nly11e5ukcmmfm2vukb9z5e6kh3s8ii/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#tos',
    }); 
</script>


<h1>Settings</h1>

<!-- {{setting.show_cashapp}}
{{setting.show_venmo}}
{{setting.show_paypal}}
{{setting.show_credit}} -->





<form class="row g-3" method="post">



    <h3>Registration Opitons</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="req_dl" name="req_dl" {% if setting.req_dl %}
            checked {% endif %}>
        <label class="form-check-label" for="req_dl">Require Drivers License Barcode Scan</label>
    </div>


    <hr>
    <h3>Guest Optional Screen(s)</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="opt_bartip" name="opt_bartip" {% if
            setting.show_bartip %} checked {% endif %}>
        <label class="form-check-label" for="opt_bartip">Show Bar Tip QR Code</label>
    </div>
    <h3>Guest Payment Options</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="pay_cashapp" name="pay_cashapp" {% if
            setting.show_cashapp %} checked {% endif %}>
        <label class="form-check-label" for="pay_cashapp">Show Cashapp QR Code</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="pay_venmo" name="pay_venmo" {% if
            setting.show_venmo %} checked {% endif %}>
        <label class="form-check-label" for="pay_venmo">Show Venmo QR Code</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="pay_paypal" name="pay_paypal" {% if
            setting.show_paypal %} checked {% endif %}>
        <label class="form-check-label" for="pay_paypal">Show Paypal QR Code</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="pay_credit" name="pay_credit" {% if
            setting.show_credit %} checked {% endif %}>
        <label class="form-check-label" for="pay_credit">Show Credit System</label>
    </div>

    <hr>
    <h3>Credit System Options</h3>
    <div class="input-group mb-3">
        <span class="input-group-text">Point Per Credit</span>
        <input type="number" id="pointpercredit" name="pointpercredit" class="form-control" min="1" max="100" value="{{setting.points_per_credit}}">
    </div>



    <hr>
    <h3>TOS</h3>

    <div class="mb-3">

        <p>
            Enter ~~GUEST_NAME~~ to get the guest's name. <br>
            Enter ~~CURRENT_DATE~~ to get the current date. <br>
            Enter ~~CURRENT_MONTH~~ to get the current month. <br>
            Enter ~~CURRENT_YEAR~~ to get the current year. <br>
        </p>
        <!-- <label for="tos" class="form-label">TOS</label> -->
        <textarea id="tos" name="tos">{{setting.tos}}</textarea>
    </div>

    <div class="d-flex">
        <div class=" p-2">
            <button type="submit" type="submit" class="btn btn-primary">Save Settings</button>
        </div>
    </div>
</form>


<script>

</script>
{% endblock content %}